
.App {
    padding: 30px;
    display: flex;
    background: lightgray;
    height: 1000px;
    color: #1871F9;
}

.App > div {
    margin-right: 50px;
}

.error {
    border: red 1px solid;
}

.error-message {
    color: red
}
.active-filter {
    color: #1871F9;
    background-color: white;
}

.is-done {
    opacity: 0.5;
}

input {
    border: none;
    border-bottom: 1px solid #000;
    background: initial;
}


input:hover {
    border-bottom: 3px solid #000000;
}
button{
    box-shadow: 3px 3px 3px rgb(0, 0, 0, 025);
}
